.intro-section, .types-section, .features-section,
.important-section, .registry-section, .admin-section, .ifc-section {
    margin-bottom: 40px;
}

.page-k {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 70px;
    
}
.agro-creditor {
  padding-top: 80px; /* безопаснее и аккуратнее */
}
.page-k .ifc-section {
  margin-bottom: 120px !important; /* поставь нужное значение */
}
.page-k-w {
    background-color: #FFFFFF;
    padding: 20px 0;
}

.text-block {
    max-width: 600px;
}

.types-cards {
    gap: 50px;
    display: flex;
}
.ifc-section a{
    color: #1E5932;
}
.card {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    background: #fff;
    border-radius: 8px;
    flex: 1;
    gap: 30px;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 35px;
    padding-bottom: 40px;
    box-shadow: 4px 4px 20px 0px #0000001A;
}

.card-top {
    display: flex;
    gap: 140px;
}

.features-list {
    display: grid;
    gap: 30px;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    grid-row-gap: 40px;
}

.features-list li, .important-list li {
    margin-bottom: 10px;
    background: #e8f5e9;
    padding: 10px;
    border-radius: 5px;
}
.btn-primary {
    background: #2B7441;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-top: 50px;
}
section.intro-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.page-k .intro-section {
  padding-top: 40px;
  padding-bottom: 30px;
}

section.admin-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.page-k .admin-section {
  padding-top: 100px;
  padding-bottom: 30px;
  align-items: center; /* выровнять текст по вертикали */
  gap: 40px; /* расстояние между картинкой и текстом */
}

section.types-section {
    background: #1E5932;
    padding: 1px 0;
}

section.types-section h1 {
    color: #fff;
    margin-bottom: 50px;
}

.icon-features-section {
    background-color: #D4E9D7;
    border-radius: 50%;
    padding: 5px;
    margin-top: 10px;
}

.features-section-card {
    background: #ffffff;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 20px 0px #0000001A;
    gap: 20px;
}

.icons-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.intro-section img {
    border-radius: 0px;
    width: 465px;
    height: 510px;
    object-fit: cover;
}
.intro-section img[src*="agrarian-2.png"] {
  /* стили применятся только к agrarian-2.png */
  width: 536px;
  height: 390px;
  border-radius: 10px;
  object-fit: cover;
}

section.important-section {
    background: #FFFFFF;
    padding: 80px 0;
}

.important-list-numbers {
    color: #fff;
  background: #2b7441;
  width: 38px;          /* одинаковая ширина */
  height: 38px;         /* одинаковая высота */
  border-radius: 50%;   /* делает круг */
  display: flex;        /* чтобы цифры были по центру */
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  flex-shrink: 0;
}

.sections-section-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background: #F2F1EE;
    padding: 12px;
    border-radius: 5px;
}

.important-list {
    flex-direction: column;
    gap: 20px;
    display: flex;
    margin-bottom: 50px;
}

.ifc-section-img {
    flex-direction: row;
    align-items: flex-start;
    margin: 50px 0;
    display: flex;
    gap: 20px;
}
.ifc-section-img img{
    width: 250px;
}


/* ----------------- MOBILE VERSION ----------------- */
@media (max-width: 768px) {
    .page-k{
        margin: 20px;
    }
    section.intro-section, section.admin-section, section.ifc-section-img {
        display: flex;
        flex-direction: column;
    }
    
    .card {
        background: #fff;
        border-radius: 8px;
        flex-direction: column;
        flex: 1;
        gap: 30px;
        padding: 20px;
        display: flex
    ;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
    }
    .intro-section img,
    .admin-section img {
        width: 100%;
        height: auto;
    }

    .types-cards {
        flex-direction: column;
        gap: 30px;
    }

    .features-list {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card-top {
        gap: 20px;
    }

    .sections-section-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .features-section-card {
        padding: 15px;
    }
    .ifc-section-img {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 50px 0;
    display: flex;
}
.page-k .admin-section {
    align-items: center;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}
}
.text-block a,
.ifc-section a {
  color: #1E5932;
  text-decoration: underline;
}
