:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F2F1EE;
  }
}

body {
  width: 100%;
  background-color: #F2F1EE;
  height: 100%;
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}
span{
  color: #000;
}
strong{
  color: #000;
}
*,::backdrop,:after,:before {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0
}

::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0
}

:host,html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: 1.5;
  font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji");
  font-feature-settings: var(--default-font-feature-settings,normal);
  font-variation-settings: var(--default-font-variation-settings,normal);
  -webkit-tap-highlight-color: transparent
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}


a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit
}

b,strong {
  font-weight: bolder
}

code,kbd,pre,samp {
  font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace);
  font-feature-settings: var(--default-mono-font-feature-settings,normal);
  font-variation-settings: var(--default-mono-font-variation-settings,normal);
  font-size: 1em
}

small {
  font-size: 80%
}

sub,sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

:-moz-focusring {
  outline: auto
}

progress {
  vertical-align: baseline
}

summary {
  display: list-item
}

menu,ol,ul {
  list-style: none
}

audio,canvas,embed,iframe,img,object,svg,video {
  vertical-align: middle;
  display: block;
}

img,video {
  max-width: 100%;
  height: auto;
}
.types-section .card-top img {
  height: 83px !important;  /* твой нужный размер */
  width: auto;              /* сохраняем пропорции */
}
button,input,optgroup,select,textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: #0000;
  border-radius: 0
}

